body, html {
  padding: 0;
  margin: 0;
  background: #09091A;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

body {
  background-image: url('img/top-circles.png');
  background-repeat:no-repeat;
  background-position: right 23px top 5px;
  border: 1px solid #000;
}

h1, h2 {
  font-weight: 100;
  font-size: 80px;
  padding: 60px;
  padding-bottom: 0px;
}

h3 {
  font-weight: 100;
  font-size: 30px;
}

h1 span {
  background: #09091A;
}

h3 span {
  background: #09091A;
}

#video {
  width: 1200px ;
  margin-left: auto ;
  margin-right: auto ;
}

.beenfit1 {
  margin-top: 0px;
  margin-left: 103px;
  height: 500px;

  border-left: 1px solid #1FBAD6;
}

.beenfit1 div {
  background: #181526;
  padding: 10px;
  font-weight: 100;
  font-size: 20px;
}

.beenfit1 div span {
  color: #1FBAD6;

}

.beenfit2 {
  background: #1FBAD6;
  padding-bottom: 60px;
  margin-top: -70px;
  font-weight: 100;
}

.beenfit2 div,  .beenfit4 div{
  padding-left: 60px;
  padding-right: 60px;
}
.beenfit2 p, .beenfit4 p {
  font-size: 20px;
}
.beenfit3 {
  height:100px;
  background-image: url('img/map.png');
  background-repeat:no-repeat;
  background-size: 100%;
  border-bottom: 1px solid #1FBAD6;
  width:100%;
}

.beenfit4 h2 {
  color: #1FBAD6;
  padding-top:0;
}

.blue {
  color: #1FBAD6;
  font-weight: 300;
}
.beenfit4 {
  font-weight: 100;
  background: #09091A;
  padding-bottom: 60px;
}

.beenfit4 img{
  border-radius: 100%;
  width: 80px;
  vertical-align: middle;
  margin-right: 20px;
  border: 2px solid #1fbad6;
  -moz-box-shadow: 0 0 10px #1fbad6;
  -webkit-box-shadow: 0 0 10px #1fbad6;
  box-shadow: 0px 0px 10px #1fbad6;
}

.beenfit5 {
  height:140px;
  background-image: url('img/grid-hover2.png');
  background-repeat:no-repeat;
  background-size: 100%;
  border-top: 1px solid #1FBAD6;
  width:100%;
}

a {
  color: #fff;
}

.ribbon {
  background-image: url('./img/readmore.png');
  background-repeat:no-repeat;
  background-position: left 20px top 10px;
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 150px; height: 150px;
  text-align: right;
}
.ribbon a:link {
    text-decoration: none;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  width: 200px;
  display: block;
  background: #79A70A;
  /* Blue */
  /*background: linear-gradient(#2989d8 0%, #1e5799 100%);*/
  /* Orange */      
  /*background: linear-gradient(#F79E05 0%, #8F5408 100%);*/
  /* Green */    
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);      
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 60px; left: -30px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #1e5799;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}

